.container{
    max-width: 1320px;
    margin-left: auto;
    margin-right: auto;
}
.section_title {
    font-size: 32px;
    line-height: 55px;
    text-align: center;
    font-weight: 500;
margin-bottom: 16px;
color: #000;
  }
  .text_info {
    color: #2673f3 !important;
  }
.education_card_section {
 
    .card_list_filter {
        display: flex;
        flex-wrap: wrap;
        .sort_filter_container {
            grid-column: 1 / -1;
            margin-bottom: -5px;

            
        }
        
        .card_filter_side {
            .filter_card_container {
                width: 200px;
                margin-left: 28px;
            }
            .ch_filter_item {
                margin: 0;
                display: block;
                > span {
                    padding: 0;
                    margin-left: 5px;
                    font-size: 11px;
                    font-family: inherit;
                }
                .Mui_checked svg {
                    color: #2673F3;
                }
            }
        }
        .card_list_side {
            flex: 1;
            display: grid;
            gap: 30px 24px;
            grid-gap: 30px 24px;
            padding-bottom: 32px;
            grid-template-columns: 1fr 1fr;
        }
    }
}
@media(max-width: 1200px) {
    .education_card_section {
        .blog_card_container {
            flex-direction: column-reverse;
            .card_banner {
                margin: 0 auto;
                padding-right: 0;
                padding-bottom: 20px;
            }
        }
    }
}
@media(max-width: 992px) {
    .education_card_section .card_list_filter {
        .card_filter_side,
        .sort_filter_container {
            display: none;
        }
    }

}
@media(max-width: 768px) {
    .education_card_section {
        .card_list_filter .card_list_side {
            gap: 16px;
            grid-gap: 16px;
            grid-template-columns: 1fr;
        }
        .blog_card_container {
            flex-direction: row;
            .card_banner {
                padding-bottom: 0;
                padding-right: 20px;
            }
        }
    }
}
@media(max-width: 576px) {
}
@media(max-width: 476px) {
    .education_card_section {
        .blog_card_container {
            flex-direction: column-reverse;
            .card_banner {
                padding-right: 0;
                padding-bottom: 20px;
            }
        }
    }
}