.branches_banner_section {
    background-size: cover;
    background-repeat: no-repeat;
    .container {
        display: flex;
        min-height: 350px;
        flex-direction: column;
        justify-content: center;
        max-width: 1320px;
margin-left: auto;
margin-right: auto;
        .banner_title {
            font-size: 43px;
            color: #ffffff;
            font-weight: 500;
            margin-right: 50px;
            + .banner_title {
                margin-right: 75px;
            }
        }
    }
}