.breadcrumb_section {
    margin-bottom: 20px;
}


section.branch_map_container {
    height: calc(100vh - 70px);
}

@media screen and (max-width: 576px) {
    section.branch_map_container {
        height: calc(100vh - 150px);
    }
}