.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20px !important;
    border-radius: 30px;
    width: 25%;
    height: 450px;
    margin: auto;
    background-color: #EFEFEF;
    padding: 30px;

  
   
   
   
   
   
    
}

.formButton{
    margin: 10px;
    text-align: center;
    width: 40%;
  
}

.aButton{
    color: rgb(113, 120, 134);
}

.cardImg{
    height: 20%;
    width: 25%;
}