.slider_card_container {
  display: flex;
  margin: 0 auto;
  max-width: 70%;
  position: relative;
  color: #000000;
  .card_banner {
    margin: 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    img {
      width: 100%;
      height: 100%;
      max-width: 285px;
      border-radius: 20px;
    }
    .cardImg{
      max-width: 485px;
      width: 100%;
      height: 100%;
   
    }
  
  }
  // .card{
  //   display: flex;
  //   flex-direction: column;
  //   justify-content: center;
  // }
  .btn_danger {
    color: #fff;
    background-color: #Ff2e17 !important;
  }
  .btn.btn_pill {
    border-radius: 100px;
  }
  .btn.btn_sm {
    height: 20px;
    font-size: 12px;
    line-height: 20px;
  }
  .btn {
    height: 36px;
    border: none;
    font-size: 18px;
    padding: 0 12px;
    cursor: pointer;
    text-align: center;
    border-radius: 5px;
 
  }
 
    .card_title {
      font-size: 20px;
      line-height: 43px;
      font-weight: 500;
      margin-top: 12px;
      margin-bottom: 8px;
      position: absolute;
    }
    .card_text {
      font-size: 14px;
      line-height: 24px;
      font-weight: normal;
      margin-bottom: 12px;
      position: absolute;
    }
    .card_description{
      font-size: 10px;
      line-height: 24px;
      font-weight: normal;
      margin-bottom: 12px;
      color: #494646 !important;
      width: 150px;
      font-family: "IRANSans";
      position: absolute;
    }
    .card_button{
      font-family: "IRANSans" !important;
      position: absolute;
    }
    .card_heading {
      font-size: 14px;
      line-height: 24px;
      font-weight: bold;
      margin-bottom: 12px;
      color: #494646 !important;
      width: 155px;
      font-family: "IRANSans";
    }

    .card_actions {
      position: absolute;
      display: flex;
      flex-direction: row;
      justify-content: left;
      .btn {
        margin-left: 10px;
      }
    }
  }


.programs_content{
  display: flex;
  flex-direction: column;
  justify-content: center;
}


.programs_title {
  font-size: 20px;
  line-height: 43px;
  font-weight: 500;
 margin: auto;
  width: 60%;
  margin-bottom: 20px;
  margin-top: 20px;
}
.card{
  margin-bottom: 20px;
  border: 1px #2b2828;
  border-radius: 20px;
}

@media (max-width: 992px) {
  .slider_card_container .card_banner {
    margin-left: 20px;
    img {
      max-width: 250px;
    }
  }
}
@media (max-width: 768px) {
  .slider_card_container {
    flex-direction: column;
  }
  .slider_card_container .card_banner {
    margin: 0 auto;
  }
  .slider_card_container .card_content .card_text {
    max-height: 290px;
    overflow: hidden;
  }
}
