.why_atieh_section {
    padding-top: 90px;
    padding-bottom: 45px;
    .section_desc {
        max-width: 900px;
        margin: 0 auto;
        font-size: 18px;
        line-height: 30px;
        font-weight: 400;
        color: #000;
      
    }

    .section_title {
        font-size: 32px;
        line-height: 55px;
        text-align: center;
        font-weight: 500;
        margin-bottom: 16px;
        color: #000;
      }

      
}